* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url("../img/horses.jpg") no-repeat center fixed;
    background-size: cover;
}

.container {
    width: 60%;
    margin: auto;
    border-radius: 5px;
    padding: 30px;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 0 20px #333;
}

input[type=text], input[type=password], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 2px;
    margin-bottom: 16px;
    resize: vertical;
}

.rdio {
    display: grid;
    grid-template-columns: 50px auto;    
    padding: 6px 0 12px 0;
}

input[type=radio] {
    height: 15px;
    width: 15px;
}

input[type=submit] , input[type=reset] {
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit] {
    background-color: #4CAF50;
    
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    background-color: red;
}

input[type=reset]:hover {
    background-color: darkred;
}

label {
    margin-bottom: 0;
    padding-bottom: 0;
}

label span {
    font-size: .8em;
    color: #888;
}

@media all and (max-width: 800px) {
    .container {
        width: 100%;
    }
}